@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
/* font-family: 'Rubik', sans-serif; */


.logoImg {
    max-width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.startBrowsingWrapper {
    padding: 5%
}

.container {
    padding: 4%;
}

.homeIcon {
    width: 15vw;

}