@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
/* font-family: 'Rubik', sans-serif; */

/* .item {
    grid-area: <name> | <row-start> / <column-start> / <row-end> / <column-end>;
} */

body {
    font-family: rubik;
}
.App {
    display: grid;
    height: 100vh;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 10% auto 10%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.header-row {
    grid-column: 1/4;
}


.viewport {
    grid-column: 1/4;
    grid-row: 2/3;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}

.mainContainer {
    grid-column: 2/2;
    grid-row: 1/2
}

.bottomBanner {
    grid-column: 2/2;
    grid-row: 2/2;
}

.mediumIcon {
    width: 25%;
}